.todo-container {
  overflow-x: auto; 
}

.tasks-wrapper {
  height: 450px;
  overflow-y: scroll;
  padding: 0 10px;
  flex: 0 0 auto;
  width: 33.3%;
  /*overflow-x: hidden;*/
}

.card {
  border-radius: 0;
}

