<div class="row">
  <div class="col-lg-6">
    <a href="javascript:void(0)" mdbBtn class="btn btn-info mb-3 mt-4" size="md" id="add-task" 
            data-toggle="modal" data-target="#addModal" (click)="addTaskModal.show()">
            Add Task</a>
  </div>
  <div class="col-lg-6">
    <div class="input-group mb-3 mt-4">
      <input type="text" class="form-control py-3" placeholder="Search task" aria-label="Search Task" aria-describedby="button-addon2">
      <div class="input-group-append">
        <button mdbBtn class="btn btn-info m-0" size="md" id="search">Search</button>
      </div>
    </div>
  </div>
</div>
<div class="d-flex justify-content-around">
  <div>
    <div id="todo-pending">
        <h3>To Do</h3>
    </div>
  </div>
  <div>
    <div id="todo-doing">
      <h3>Doing</h3>
  </div>
  </div>
  <div>
    <div id="todo-done">
      <h3>Done</h3>
    </div>
  </div>
</div>
<div class="todo-container d-flex justify-content-between flex-nowrap">
  <div class="tasks-wrapper">
    <div class="no-padding no-margin" *ngFor="let task of toDoList">
      <!-- TODO: set a validation to show the tasks of the logged user -->
      <div class="card my-1" style="width: 100%;" *ngIf="task.isPending && !task.isDoing && !task.isDone">
        <div class="card-header text-right">
          <a href="javascript:void(0)" class="mr-3" data-toggle="modal" data-target="#editModal" (click)="openModal(task.id, editTaskModal)">Edit</a>
          <a href="javascript:void(0)" class="text-danger" data-toggle="modal" data-target="#deleteModal" 
             (click)="openModal(task.id, deleteTaskModal)">Delete</a>
        </div>
        <div class="card-body">
          <h5 class="card-title">{{task.name}}</h5>
          <p class="card-text">{{task.description}}</p>
          <div class="btn-group" role="group" aria-label="Basic example" style="width: 100%">
            <button mdbBtn class="btn btn-info" size="sm">Doing</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tasks-wrapper">
    <div class="no-padding no-margin" *ngFor="let task of toDoList">
      <!-- TODO: set a validation to show the tasks of the logged user -->
      <div class="card my-1" style="width: 100%;" *ngIf="!task.isPending && task.isDoing && !task.isDone">
        <div class="card-header text-right">
          <a href="javascript:void(0)" class="mr-3" data-toggle="modal" data-target="#editModal" (click)="openModal(task.id, editTaskModal)">Edit</a>
          <a href="javascript:void(0)" class="text-danger" data-toggle="modal" data-target="#deleteModal" 
             (click)="openModal(task.id, deleteTaskModal)">Delete</a>
        </div>
        <div class="card-body">
          <h5 class="card-title">{{task.name}}</h5>
          <p class="card-text">{{task.description}}</p>
          <div class="btn-group" role="group" aria-label="Basic example" style="width: 100%">
            <button mdbBtn class="btn btn-warning" size="sm">To Do</button>
            <button mdbBtn class="btn btn-success" size="sm">Done</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tasks-wrapper">
    <div class="no-padding no-margin" *ngFor="let task of toDoList">
      <!-- TODO: set a validation to show the tasks of the logged user -->
      <div class="card my-1" style="width: 100%;" *ngIf="!task.isPending && !task.isDoing && task.isDone">
        <div class="card-header text-right">
          <a href="javascript:void(0)" class="mr-3" data-toggle="modal" data-target="#editModal" (click)="openModal(task.id, editTaskModal)">Edit</a>
          <a href="javascript:void(0)" class="text-danger" data-toggle="modal" data-target="#deleteModal" 
             (click)="openModal(task.id, deleteTaskModal)">Delete</a>
        </div>
        <div class="card-body">
          <h5 class="card-title">{{task.name}}</h5>
          <p class="card-text">{{task.description}}</p>
          <div class="btn-group" role="group" aria-label="Basic example" style="width: 100%">
            <button mdbBtn class="btn btn-warning" size="sm">To Do</button>
            <button mdbBtn class="btn btn-info" size="sm">Doing</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<app-modal (passData)="getData($event)"></app-modal>


<!-- Add Task Modal -->

<div mdbModal #addTaskModal="mdbModal" class="modal fade top" id="frameModalAdd" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true" data-dismiss="modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">NEW TASK</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="md-form my-2">
          <input type="text" id="addName" name="addName" #addName="ngModel" [(ngModel)]="addTaskName" class="form-control validate" mdbInput>
          <label data-error="wrong" data-success="right" for="addName">Task name</label>
        </div>

        <div class="md-form mb-1 my-2">
          <textarea name="addDescription" id="addDescription" #addDescription [(ngModel)]="addTaskDescription"
                    class="md-textarea form-control validate mb-0"
                    length="120" mdbCharCounter mdbInput></textarea>
          <label data-error="wrong" data-success="right" for="addDescription">Description</label>
        </div>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button mdbBtn color="default" class="waves-light" mdbWavesEffect (click)="addTask()">Add</button>
      </div>
    </div>
  </div>
</div>

<!-- Delete Task Modal -->

<div mdbModal #deleteTaskModal="mdbModal" class="modal fade top" id="frameModalDelete" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true" data-dismiss="modal">
  <div class="modal-dialog" role="document">
    <!--Content-->
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">DELETE TASK</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!--Body-->
      <div class="modal-body">
        <div class="row">
          <div class="col-12">
            <p class="pt-4 text-center">Are you sure you want to delete this task?</p>
          </div>
        </div>
      </div>
      <!--Footer-->
      <div class="modal-footer justify-content-center">
        <a type="button" mdbBtn color="grey" outline="true" class="waves-effect" mdbWavesEffect (click)="closeModal()"
           data-dismiss="modal">Cancel</a>
        <a type="button" mdbBtn color="danger" class="waves-effect" mdbWavesEffect (click)="deleteTask()">Delete</a>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>

<!-- Edit Task Modal -->
<div mdbModal #editTaskModal="mdbModal" class="modal fade top" id="frameModalEdit" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true" (opened)="getTask()">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">EDIT TASK</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="md-form my-2">
          <input type="text" id="editName" name="editName" #editName="ngModel" [(ngModel)]="editTaskName" class="form-control validate" mdbInput>
          <label data-error="wrong" data-success="right" for="editName">Task name</label>
        </div>

        <div class="md-form mb-1 my-2">
          <textarea name="editDescription" id="editDescription" #editDescription="ngModel" [(ngModel)]="editTaskDescription"
                    class="md-textarea form-control validate mb-0"
                    length="120" mdbCharCounter mdbInput></textarea>
          <label data-error="wrong" data-success="right" for="editDescription">Description</label>
        </div>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button mdbBtn color="default" class="waves-light" mdbWavesEffect (click)="editTask()">Edit</button>
      </div>
    </div>
  </div>
</div>
