<div class="wrapper">
  <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/">To Do App</a>

    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link my-2" routerLink="/todo">Tasks</a>
      </li>
      <li class="nav-item">
        <a mdbBtn class="btn btn-primary my-2" size="md" routerLink="/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link my-2" routerLink="/signup">Sign Up</a>
      </li>
    </ul>
  </nav>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
