<div class="row">
  <div class="col-4 offset-lg-4">
    <form [formGroup]="signUpForm" class="mx-auto my-5">
      <h3 class="text-center font-weight-bolder mb-3">SIGN UP</h3>
      <div class="form-group">
        <input mdbInput mdbValidate type="text" formControlName="firstNameForm" class="form-control"  placeholder="First name">
      </div>
      <div class="form-group">
        <input mdbInput mdbValidate type="text" formControlName="LastNameForm" class="form-control" placeholder="Last name">
      </div>
      <div class="form-group">
        <input mdbInput mdbValidate type="text" formControlName="usernameForm" class="form-control" placeholder="Username">
      </div>
      <div class="form-group">
        <input mdbInput mdbValidate type="email" formControlName="emailForm" class="form-control" aria-describedby="emailHelp" placeholder="Enter a valid email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group">
        <input mdbInput mdbValidate type="password" formControlName="passwordForm" class="form-control" aria-describedby="passwordHelp" placeholder="Password">
        <small id="passwordHelp" class="form-text text-muted">
          It must contains uppercase, lowercase, number and at least one special character with a length of 8</small>
      </div>
      <div class="form-group">
        <input mdbInput mdbValidate type="password" formControlName="confirmPasswd" class="form-control" id="confirm-password" placeholder="Confirm password">
      </div>
      <button type="submit" class="btn btn-primary float-right">Submit</button>
    </form>

  </div>
</div>
